# Carpeta Entorno virtual de python
env

# Archivo con variables de entorno
.env
# Ignorar carpetas de pychache de la applicacion
nominaApp/__pycache__
nominaApp/model/__pycache__
nominaApp/views/__pycache__