{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="author" content="TriMark">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="description" content="Registrarse - TriMark">
	<title>Registrarse</title>
	<link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>

<body>
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-sm-center h-100">
				<div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
					<div class="text-center my-5">
						<img class="rounded-5" src="{% static 'img/sign_out_logo.png' %}" alt="logo" width="150">
					</div>
					<div class="card shadow-lg rounded-4 overflow-hidden bg-dark">
						<div class="card-body p-5">
							<h1 class="fs-4 card-title fw-bold mb-4 text-center">Crear Cuenta</h1>
							<form action="{% url 'register' %}" method="POST" class="needs-validation" novalidate="">
								{% csrf_token %} 
                                <div class="mb-3">
									<label class="mb-2 fw-bold" for="rut">RUT<strong class="text-danger">*</strong></label>
									<input id="rut" type="text" class="form-control" name="rut"  placeholder="Ej: 12344566-3" pattern="[0-9]{8}-[0-9kK]{1}" maxlength="10" required autofocus autocomplete="off">
									<div class="invalid-feedback">
										RUT requerido
									</div>
								</div>

								<div class="mb-3">
									<label class="mb-2 fw-bold" for="username">Nombre Completo<strong class="text-danger">*</strong></label>
									<input id="username" type="text" class="form-control" name="username" placeholder="Ej: Juan Vargas" required autocomplete="off">
									<div class="invalid-feedback">
										Nombre requerido
									</div>
								</div>
                                
								<div class="mb-3">
									<label class="mb-2 fw-bold" for="email">Dirección de correo eléctronico<strong class="text-danger">*</strong></label>
									<input id="email" type="email" class="form-control" name="email" placeholder="Ej: jvargas@gmail.com" required  autocomplete="off" >
									<div class="invalid-feedback">
										Correo inválido
									</div>
								</div>

                                <div class="mb-3">
                                    <label class="mb-2 fw-bold" for="tipoPersonal">Tipo de Personal<strong class="text-danger">*</strong></label>
                                    <select class="form-select" name="tipoPersonal" id="tipoPersonal" aria-label="Tipo de Personal" required  autocomplete="off" >
                                        <option value="" disabled selected hidden>Seleccionar</option>
                                        <option value="PE">Personal Empresa</option>
                                        <option value="RRHH">Personal de Recursos Humanos</option>
                                    </select>
									<div class="invalid-feedback">
										Tipo de Personal requerido
									</div>
                                </div>

								<div class="mb-3">
									<label class="mb-2 fw-bold" for="password">Contraseña<strong class="text-danger">*</strong></label>
									<input id="password" type="password" class="form-control" name="password" placeholder="Ej: nomina23" minlength="6" maxlength="8" required  autocomplete="off" >
								    <div class="invalid-feedback">
								    	Contraseña invalida
										<p class="text-muted fw-bold my-1">
											Mínimo de 6 y máximo de 8 carácteres (  números y/o letras ) <strong class="text-danger">*</strong>
										</p>
							    	</div>
								</div>

								<p class="form-text text-muted mb-3 fw-bold">
									Al registrarte estás de acuerdo con nuestros <a href="{% url 'terminos' %}" target="_blank" class="">Términos y condciones</a>
								</p>

								<div class="align-items-center d-flex">
									<button type="submit" class="btn btn-primary ms-auto rounded-5">
										Crear cuenta
									</button>
								</div>
							</form>
						</div>
						<div class="card-footer py-3 border-0">
							<div class="text-center">
								Tienes Cuenta? <a href="{% url 'index' %}" class="text-primary">Iniciar Sesión</a>
							</div>
						</div>
					</div>
					<div class="text-center mt-5 text-muted">
						Copyright &copy; 2023 &mdash; TriMark
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="{% static 'js/login/login.js' %}"></script>
</body>
</html>