{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Personal RRHH</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <style>
        .card:hover {
            border: 2px solid  #df6819a1;
            transition: 0.2s ease-in;
        }
    </style>
</head>

<body>

    <div class="container-fluid">
        <div class="row flex-nowrap">
            {% include 'partials/sidebar_rrhh.html' %}
            <div class="col py-3 overflow-auto vh-100">
                <div class="container-fluid">
                    <h1 class="h1 fw-bold text-center">Inicio - Personal RRHH</h1>
                    <hr>
                    <h2 class="h2 fw-bold text-center mt-4">
                        Accesos Directos<i class="bi bi-arrow-up-left-square fs-2 ms-2 text-primary"></i>
                    </h2>
                    <!-- Enlaces Directos del Personal -->
                    <div class="row rows-cols-2 gap-5 justify-content-center mt-5">
                        <div class="col-xl-4 d-flex justify-content-center">
                            <a class="card rounded-4 overflow-hidden text-decoration-none shadow-lg bg-dark"
                             href="/personal/mi-registro/" style="width: 22rem; height: 7rem;">
                                <p class="text-center fs-3 my-auto fw-semibold">
                                    <i class="bi bi-file-earmark-spreadsheet me-3 text-primary"></i>Mi Registro
                                </p>
                            </a>
                        </div>
                        <div class="col-xl-4 d-flex justify-content-center">
                            <a class="card rounded-4 overflow-hidden text-decoration-none shadow-lg bg-dark"
                             href="/personal/modificar-registro/" style="width: 22rem; height: 7rem;">
                                <p class="text-center fs-3 my-auto fw-semibold">
                                    <i class="bi bi-pencil-square me-3 text-primary"></i>Modificar Mi Registro
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="row rows-cols-2 gap-5 justify-content-center mt-5">
                        <div class="col-xl-4 d-flex justify-content-center">
                            <a class="card rounded-4 overflow-hidden text-decoration-none shadow-lg bg-dark"
                             href="/personal/mis-solicitudes/" style="width: 22rem; height: 7rem;">
                                <p class="text-center fs-3 my-auto fw-semibold">
                                    <i class="bi bi-envelope-exclamation-fill me-3 text-primary"></i>Mis Solicitudes
                                </p>
                            </a>
                        </div>
                        <div class="col-xl-4 d-flex justify-content-center">
                            <a class="card rounded-4 overflow-hidden text-decoration-none shadow-lg bg-dark"
                             href="/personal/enviar-solicitud/" style="width: 22rem; height: 7rem;">
                                <p class="text-center fs-3 my-auto fw-semibold">
                                    <i class="bi bi-send-plus me-3 text-primary"></i>Enviar Solicitud
                                </p>
                            </a>
                        </div>
                    </div>
                    <!-- Fin Enlaces Directos del Personal -->
                    <h2 class="h2 fw-semibold text-center mt-4 mb-3"><i class="bi-people fs-1 me-3 text-primary"></i>Personal</h2>
                    <!-- Inicio Enlaces DIrectos del Personal RRHH -->
                    <div class="row rows-cols-3 gap-5 justify-content-center">
                        <div class="col-xl-4 d-flex justify-content-center">
                            <a class="card rounded-4 overflow-hidden text-decoration-none shadow-lg bg-dark"
                             href="/rrhh/nomina/" style="width: 22rem; height: 7rem;">
                                <p class="text-center fs-3 my-auto fw-semibold">
                                    <i class="bi bi-table me-3 text-primary"></i>Nómina
                                </p>
                            </a>
                        </div>
                        <div class="col-xl-4 d-flex justify-content-center">
                            <a class="card rounded-4 overflow-hidden text-decoration-none shadow-lg bg-dark"
                             href="/rrhh/nuevo-registro/" style="width: 22rem; height: 7rem;">
                                <p class="text-center fs-3 my-auto fw-semibold">
                                    <i class="bi bi-person-add me-3 text-primary"></i>Nuevo Registro
                                </p>
                            </a>
                        </div>
                        <div class="col-xl-4 d-flex justify-content-center">
                            <a class="card rounded-4 overflow-hidden text-decoration-none shadow-lg bg-dark"
                             href="/rrhh/solicitudes/" style="width: 22rem; height: 7rem;">
                                <p class="text-center fs-3 my-auto fw-semibold">
                                    <i class="bi bi-inbox me-3 text-primary"></i>Solicitudes
                                </p>
                            </a>
                        </div>
                    </div>
                    <!-- Fin Enlaces DIrectos del Personal RRHH -->
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>