{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>({{ cantidad_registros }}) Nómina Personal</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>

<body>

    <div class="container-fluid">
        <div class="row flex-nowrap">
            {% include 'partials/sidebar_rrhh.html' %}
            <div class="col py-3 overflow-auto vh-100">
                    <h1 class="text-center fs-2">Nómina del Personal</h1>
                    <hr>
                    <div class="vh-100">
                        <form class="row mb-4 mt-4" method="post">
                            <div class="form-group col-6 col-md-6 text-start">
                                <label class="form-label" id="buscar" for="campo">Buscar Por Cargo, Género:</label>
                                <input class="form-control" type="text" name="campo" id="campo"
                                    placeholder=" Ej:  Repartidor ó Femenino" autocomplete="off">
                            </div>
                            <div class="form-group col-6 col-md-6">
                                <label class="form-label" for="fechaIngreso">Fecha Ingreso</label>
                                <input class="form-control" type="date" id="fechaIngreso" name="fechaIngreso">
                            </div>
                        </form>
                        <table class="table table-responsive table-striped table-hover text-center bg-light">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">NOMBRE APELLIDO</th>
                                    <th scope="col">RUT</th>
                                    <th scope="col">GÉNERO</th>
                                    <th scope="col">CARGO</th>
                                    <th scope="col">DEPARTAMENTO</th>
                                    <th scope="col">ÁREA</th>
                                    <th scope="col">FECHA INGRESO dd/mm/yyyy</th>
                                    <th scope="col">ACCIONES</th>
                                </tr>
                            </thead>
                            <tbody class="align-middle">
                            {% if registros_nomina is not None %}
                                {% for registro in registros_nomina %}
                                    <tr>
                                        <td scope="row">{{ num_registros_pagina|add:forloop.counter  }}</td>
                                        <td>{{ registro.personalNombre|title }}</td>
                                        <td width="100px">{{ registro.personalRut }}</td>
                                        <td>{{ registro.personalGenero }}</td>
                                        <td>{{ registro.cargo.cargoNombre|title }}</td>
                                        <td>{{ registro.cargo.departamentoNombre|title }}</td>
                                        <td>{{ registro.cargo.areaNombre|title }}</td>
                                        <td> {{ registro.cargo.cargoFechaIngreso|date:"d/m/Y" }} </td>
                                        <td>
                                            <div class="btn-group" role="group">
                                                <div class="col-4 mx-1" style="width: fit-content;">
                                                    <form action="{% url 'nomina-eliminar-registro' %}" method="post" style="width: fit-content;">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="rutPersonal" value="{{ registro.personalRut }}">
                                                        <button type="submit" class="btn btn-danger rounded rounded-4">Eliminar</button>
                                                    </form>
                                                </div>
                                                <div class="col-4 mx-1" style="width: fit-content;">
                                                    <!-- Button trigger modal Modificar registro-->
                                                    <button type="button" class="btn btn-warning rounded rounded-4" data-bs-toggle="modal" data-bs-target="#modalModificar{{ registro.personalRut }}">
                                                        Modificar
                                                    </button>
                                                    <!-- Modal  Modificar-->
                                                    <div class="modal fade" id="modalModificar{{ registro.personalRut }}" tabindex="-1" aria-labelledby="modalModificarLabel" aria-hidden="true">
                                                        <div class="modal-dialog modal-xl modal-dialog-scrollable">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                <h1 class="modal-title fs-5" id="modalModificarLabel">Modificar Registro - Personal RUT: {{ registro.personalRut }}</h1>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <!-- Formulario Modificar registro nomina -->
                                                                    <form class="row row-cols-md-4 mt-5 justify-content-center" action="{% url 'nomina-modificar-registro' %}"
                                                                        method="post">
                                                                        {% csrf_token %}
                                                                        <div class="col-md">
                                                                            <h3>Datos Personales</h3>
                                                                            <div class="form-group mb-3 text-start">
                                                                                <label class="form-label fw-bold" for="nombreCompleto">Nombre Completo</label>
                                                                                <input class="form-control" type="text" name="nombrePersonal"
                                                                                    id="nombreCompleto" placeholder="Ej: Juan José Vargas Perez"
                                                                                    value='{{ registro.personalNombre }}'>
                                                                            </div>
                                                                            <div class="form-group mb-3 text-start">
                                                                                <label class="form-label fw-bold" for="rut">RUT</label>
                                                                                <input class="form-control" type="text" name="rutPersonal" id="rut"
                                                                                    placeholder="Ej: 12345678-k" value='{{ registro.personalRut }}'>
                                                                            </div>
                                                                            <div class="form-group mb-3 text-start">
                                                                                <label class="form-label fw-bold" for="genero">Género</label>
                                                                                <select class="form-select" name="generoPersonal" id="genero">
                                                                                    <option value='{{ registro.personalGenero }}' selected>
                                                                                        Actual: {{ registro.personalGenero }}
                                                                                    </option>
                                                                                    <option value="Femenino">Femenino</option>
                                                                                    <option value="Masculino">Masculino</option>
                                                                                    <option value="Otro">Otro</option>
                                                                                </select>
                                                                            </div>
                                                                            <div class="form-group mb-3 text-start">
                                                                                <label class="form-label fw-bold" for="direccion">Dirección</label>
                                                                                <input class="form-control" type="text" name="direccionPersonal" id="direccion"
                                                                                    placeholder="Ej: Antonio Varas 1200" value='{{ registro.personalDireccion }}'>
                                                                            </div>                                                                   
                                                                            <div class="dropdown mb-3">
                                                                                <button class="btn btn-dark dropdown-toggle fs-5 rounded-5" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                                Teléfonos Personal
                                                                                </button>
                                                                                <ul class="dropdown-menu dropdown-menu-dark">  
                                                                                {% for  telefono in registro.telefonosPersonal %}
                                                                                    <li class="dropdown-item my-1">
                                                                                        <div class="input-group">
                                                                                            <span class="input-group-text" id="telefonoPersonal">+569</span>
                                                                                            <input type="number" class="form-control" id="telefonoPersonal" name="telefonoPersonal" value="{{ telefono }}" placeholder="1234 5678" aria-label="Número Telefono">
                                                                                        </div>
                                                                                    </li>
                                                                                {% endfor %}
                                                                                </ul>
                                                                            </div> 
                                                                        </div>
                                                                        <div class="col-md">
                                                                            <h3>Datos Laborales</h3>
                                                                            <div class="form-group mb-3 text-start">
                                                                                <label class="form-label fw-bold" for="cargo">Cargo</label>
                                                                                <input class="form-control" type="text" name="cargoPersonal" id="cargo"
                                                                                    placeholder="Ej: Operador" value="{{ registro.cargo.cargoNombre }}">
                                                                            </div>
                                                                            <div class="form-group mb-3 text-start">
                                                                                <label class="form-label fw-bold" for="cargoSueldo">Sueldo</label>
                                                                                <input class="form-control" type="number" step="0.01" min="0" name="cargoSueldo" id="cargoSueldo" value="{{ registro.cargo.cargoSueldo }}" placeholder="Ej: 550602.27">
                                                                            </div>
                                                                            <div class="form-group mb-3 text-start">
                                                                                <label class="form-label fw-bold" for="fechaIngreso">Fecha Ingreso <strong class="text-primary">mm/dd/yyyy</strong></label>
                                                                                <input class="form-control" type="date" name="fechaIngresoPersonal" id="fechaIngreso"
                                                                                    value="{{ registro.cargo.cargoFechaIngreso|date:'Y-m-d' }}" >
                                                                            </div>
                                                                            <div class="form-group mb-3 text-start">
                                                                                <label class="form-label fw-bold" for="areaTrabajo">Área</label>
                                                                                <input class="form-control" type="text" name="areaPersonal" id="areaTrabajo"
                                                                                    placeholder="Ej: Logística" value="{{ registro.cargo.areaNombre }}">
                                                                            </div>
                                                                            <div class="form-group mb-3 text-start">
                                                                                <label class="form-label fw-bold" for="departamento">Departamento</label>
                                                                                <input class="form-control" type="text" name="departamentoPersonal" id="departamento"
                                                                                    placeholder="Ej: Reparto en Área" value="{{ registro.cargo.departamentoNombre }}">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md">
                                                                            <h3>Contactos de Emergencia</h3>
                                                                        {% for contacto in registro.contactosEmergencia %}
                                                                            <div class="form-group mb-3 text-start">
                                                                                <label class="form-label fw-bold" for="rutContacto">RUT</label>
                                                                                <input class="form-control" type="text" name="rutContacto" id="rutContacto"
                                                                                    placeholder="Ej: 12345678-1" value="{{ contacto.contactoRut }}">
                                                                            </div>
                                                                            <div class="form-group mb-3 text-start">
                                                                                <label class="form-label fw-bold" for="nombreContacto">Nombre Completo</label>
                                                                                <input class="form-control" type="text" name="nombreContacto" id="nombreContacto"
                                                                                    placeholder="Ej: Fernanda Oyarzo" value="{{ contacto.contactoNombre }}">
                                                                            </div>
                                                                            <div class="form-group mb-3 text-start">
                                                                                <label class="form-label fw-bold" for="relacionContacto">Relación con Personal</label>
                                                                                <input class="form-control" type="text" name="relacionContactoPersonal"
                                                                                    id="relacionContacto" placeholder="Ej: Esposa" value="{{ contacto.contactoRelacionPersonal }}">
                                                                            </div>
                                                                            <div class="dropdown mb-3">
                                                                                <button class="btn btn-dark dropdown-toggle fs-5 rounded-5" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                                Teléfonos Contacto
                                                                                </button>
                                                                                <ul class="dropdown-menu dropdown-menu-dark">
                                                                                {% for telefono in contacto.telefonosContacto  %}
                                                                                <li class="dropdown-item my-1">
                                                                                    <div class="input-group">
                                                                                        <span class="input-group-text" id="telefonoContacto">+569</span>
                                                                                        <input type="number" class="form-control" id="telefonoContacto" name="telefonoContacto" value="{{ telefono }}" placeholder="1234 5678" aria-label="Número Celular">
                                                                                    </div>
                                                                                </li>
                                                                                {% endfor %}
                                                                                </ul>
                                                                            </div>
                                                                        {% endfor %}
                                                                        </div>
                                                                        <div class="col-md">
                                                                            <h3>Cargas Familiares</h3>
                                                                        {% for carga in registro.cargaFamiliar %}
                                                                            <div class="form-group mb-3 text-start">
                                                                                <label class="form-label fw-bold" for="rutCarga">RUT</label>
                                                                                <input class="form-control" type="text" name="rutCarga" id="rutCarga"
                                                                                    placeholder="Ej: 19453487-2" value="{{ carga.cargaRut }}">
                                                                            </div>
                                                                            <div class="form-group mb-3 text-start">
                                                                                <label class="form-label fw-bold" for="nombreCarga">Nombre Completo</label>
                                                                                <input class="form-control" type="text" name="nombreCarga" id="nombreCarga"
                                                                                    placeholder="Ej: Andrea Vargas" value="{{ carga.cargaNombre }}">
                                                                            </div>
                                                                            <div class="form-group mb-3 text-start">
                                                                                <label class="form-label fw-bold" for="parentesco">Parentesco</label>
                                                                                <input class="form-control" type="text" name="parentescoCarga" id="parentesco"
                                                                                    placeholder="Ej: Hija" value="{{ carga.cargaParentesco }}">
                                                                            </div>
                                                                            <div class="form-group mb-3 text-start">
                                                                                <label class="form-label fw-bold" for="generoCarga">Género</label>
                                                                                <select class="form-select" name="generoCarga" id="generoCarga">
                                                                                    <option class="text-primary" value="{{ carga.cargaGenero }}" selected>
                                                                                        Actual: {{ carga.cargaGenero }}
                                                                                    </option>
                                                                                    <option value="Femenino">Femenino</option>
                                                                                    <option value="Masculino">Masculino</option>
                                                                                    <option value="Otro">Otro</option>
                                                                                </select>
                                                                            </div>
                                                                        {% endfor %}
                                                                        </div>
                                                                        <button type="submit" class="btn btn-primary btn-lg mt-3 rounded-5">Confirmar</button>
                                                                    </form>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-4 mx-1" style="width: fit-content;">
                                                    <!-- Button trigger modal Detalle Registro-->
                                                    <button type="button" class="btn btn-info rounded rounded-4" data-bs-toggle="modal"
                                                    data-bs-target="#modalDetalle{{ registro.personalRut  }}">
                                                        Detalles
                                                    </button>
                                                    <!-- Ventana Modal con detalles del registro (registro completo) -->
                                                    <div class="modal fade" id="modalDetalle{{ registro.personalRut  }}" tabindex="-1"
                                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog modal-xl modal-dialog-scrollable">
                                                            <div class="modal-content rounded rounded-4">
                                                                <div class="modal-header">
                                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                                                                        Registro - Personal RUT: {{ registro.personalRut }}
                                                                    </h1>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                        aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="container-fluid">
                                                                        <div class="row rows-cols-2">
                                                                            <h2 class="h2 text-center mt-5 mb-3">Datos Personales</h2>
                                                                            <div class="col-md-8">
                                                                                <table class="table rounded-4 text-center overflow-hidden">
                                                                                    <thead class="text-center">
                                                                                        <tr class="fs-4">
                                                                                            <th scope="col">RUT</th>
                                                                                            <th scope="col">Nombre</th>
                                                                                            <th scope="col">Género</th>
                                                                                            <th scope="col">Dirección</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody class="fs-5">
                                                                                        <tr>
                                                                                            <td>{{ registro.personalRut }}</td>
                                                                                            <td>{{ registro.personalNombre }}</td>
                                                                                            <td>{{ registro.personalGenero }}</td>
                                                                                            <td>{{ registro.personalDireccion }}</td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                            <div class="col-md-4">
                                                                                <table class="table rounded-5 text-center overflow-hidden">
                                                                                    <thead>
                                                                                        <tr class="text-center fs-4">
                                                                                            <th scope="col">Teléfonos</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody class="fs-5 text-center">
                                                                                    {% for telefono in registro.telefonosPersonal %}
                                                                                        <tr>
                                                                                            <th scope="row">+569 {{ telefono }}</th>
                                                                                        </tr>
                                                                                    {% endfor %}
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                        <h2 class="h2 text-center mt-5 mb-3">Datos Laborales</h2>
                                                                        <table class="table text-center rounded-4 overflow-hidden">
                                                                            <thead>
                                                                                <tr class="fs-4">
                                                                                    <th scope="col">Cargo</th>
                                                                                    <th scope="col">Fecha Ingreso</th>
                                                                                    <th scope="col">Sueldo</th>
                                                                                    <th scope="col">Departamento</th>
                                                                                    <th scope="col">Área</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody class="fs-5">
                                                                                <tr>
                                                                                    <td>{{ registro.cargo.cargoNombre }}</td>
                                                                                    <td>{{ registro.cargo.cargoFechaIngreso|date:"d-m-Y" }}</td>
                                                                                    <td>{{ registro.cargo.cargoSueldo }}</td>
                                                                                    <td>{{ registro.cargo.departamentoNombre }}</td>
                                                                                    <td>{{ registro.cargo.areaNombre }}</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                        <h2 class="h2 text-center mt-5 mb-3">Contactos de Emergencia</h2>
                                                                        <div class="row rows-cols-2">
                                                                            <div class="col-md-8">
                                                                                <table class="table rounded text-center rounded-4 overflow-hidden">
                                                                                    <thead>
                                                                                        <tr class="fs-4">
                                                                                            <th scope="col">#</th>
                                                                                            <th scope="col">RUT</th>
                                                                                            <th scope="col">Nombre</th>
                                                                                            <th scope="col">Relación Trabajador</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody class="fs-5">
                                                                                    {% for contacto in  registro.contactosEmergencia %}
                                                                                        <tr>
                                                                                            <th scope="row">{{ forloop.counter }}</th>
                                                                                            <td>{{ contacto.contactoRut }}</td>
                                                                                            <td>{{ contacto.contactoNombre }}</td>
                                                                                            <td>{{ contacto.contactoRelacionPersonal }}</td>
                                                                                        </tr>
                                                                                    {% endfor %}
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        {% for contacto in registro.contactosEmergencia %}
                                                                            <div class="col-md-4">
                                                                                <table class="table text-center rounded-5 overflow-hidden">
                                                                                    <thead>
                                                                                        <tr class="fs-4">
                                                                                            <th scope="col">Teléfonos</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody class="fs-5">
                                                                                    {% for telefono in contacto.telefonosContacto %}
                                                                                        <tr>
                                                                                            <th scope="row">+569 {{ telefono }}</th>
                                                                                        </tr>
                                                                                    {% endfor %}
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    {% endfor %}
                                                                        <h2 class="h2 text-center mt-5 mb-3">Cargas Familiares</h2>
                                                                        <table class="table text-center rounded rounded-4 overflow-hidden">
                                                                            <thead>
                                                                                <tr class="fs-4">
                                                                                    <th scope="col">#</th>
                                                                                    <th scope="col">RUT</th>
                                                                                    <th scope="col">Nombre</th>
                                                                                    <th scope="col">Género</th>
                                                                                    <th scope="col">Parentesco</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody class="fs-5">
                                                                            {% for carga in registro.cargaFamiliar %}
                                                                                <tr>
                                                                                    <th scope="row">{{ forloop.counter }}</th>
                                                                                    <td>{{ carga.cargaRut }}</td>
                                                                                    <td>{{ carga.cargaNombre }}</td>
                                                                                    <td>{{ carga.cargaGenero }}</td>
                                                                                    <td>{{ carga.cargaParentesco }}</td>
                                                                                </tr>
                                                                            {% endfor %}
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-lg btn-primary rounded rounded-4" data-bs-dismiss="modal">Cerrar</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td class="fs-5 fw-bold" colspan="8">No se encontraron registros</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                        <!-- Paginación de Registros del Personal-->
                    <nav aria-label="Paginación de Solicitudes" class="text-center" style="padding-top: 9em;">
                        <ul class="pagination justify-content-center">
                        {% if num_pagina_actual > 1 %}
                            <li class="page-item">
                                <a class="page-link" href="{% url 'nomina' %}?page={{ num_pagina_actual|add:'-1' }}" title="Página Anterior">Anterior</a>
                            </li>
                        {% endif %}
                        {% for num_pagina in lista_num_paginas %}
                            {% if num_pagina == num_pagina_actual %}
                                <li class="page-item" aria-current="page">
                                    <a class="page-link active disabled bg-primary text-dark" href="{% url 'nomina' %}?page={{ num_pagina_actual }}" title="Página Actual">{{ num_pagina }}</a>
                                </li>
                            {% else %}
                                <li class="page-item" aria-current="page">
                                    <a class="page-link" href="{% url 'nomina' %}?page={{ num_pagina }}">{{ num_pagina }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if num_pagina_actual <  cantidad_paginas %}
                            <li class="page-item">
                                <a class="page-link" href="{% url 'nomina' %}?page={{ num_pagina_actual|add:'1' }}">Siguiente</a>
                            </li>
                        {% endif %}
                        </ul>
                        <p class="text-end">Última actualización: <span id="fecha-last-update"></span></p>
                    </nav>
                    <!-- Termina Paginación -->
            </div>
        </div>
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script>
        window.addEventListener( "load", function () {
            // Obtener la hora y fecha actual con el huso horario de Chile
            var fechaActual = new Date().toLocaleString('es-CL', { timeZone: 'America/Santiago' });
            document.getElementById('fecha-last-update').innerHTML = fechaActual;
        });
    </script>
</body>

</html>